<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>상품 등록</title>
</head>
<body>
<div th:replace="~{ header.html:: header }"></div>
<h2>상품등록</h2>
    <!--
        action : 처리할 페이지(경로) methdod="get/post" 전송방법
        1) get (엽서)
            - 전송방법 : get -> url을 통해 쿼리스트링으로 파라미터 전송
            - 데이터 노출, 짧은 데이터 보낼때
        2) post (봉투)
            - HTTP 요청 body에 담아서 보냄
            - 숨겨진 데이터, 데이터양 제한 X, 캐싱X - 매번 다시 새롭게 디얼

            * 캐싱 : 미리저장
            - 자주 사용하는 데이터 임시 저장소에 저장
      -->
    <form action="/add" method="post">
        <label>상품명: <input type="text" name="title" ></label>
        <label>가격: <input type="text" name="price" ></label>
        <button type="submit">등록</button>
    </form>
</body>
</html>